#painel{
    border-radius: 20px;
    text-align: center;
    justify-content: space-around;
    margin: 0.5% auto;
    width: 90%;
    height: 100vh;
    padding: 10px;
    background-color: aliceblue;
}
#logo{
  background-color: transparent;
}
.navbar-brand{
  background-color: rgb(134, 87, 189);
}
#navbarBasicExample{
  background-color: rgb(134, 87, 189);
}
nav{
    font-size: 125%;
    font-weight: bold;
    height: 10vh;
}
.postagens{
    font-size: 4vh;
    width: auto;
    height: auto;
    margin: 3% 5%;
    display: inline-block;
}
.titulo{
    font-weight: bold;
}
a{
    text-decoration: none !important;
    color: inherit;
}
a:hover{
    color: #f0f8ff;
}
#bggif{
    background-size: cover;
    background-repeat: repeat;
    z-index:-5;
}