<h1>Gerenciador de Conteúdo</h1>

<a href="?pagina=admin&metodo=create" id="titulo">Adicionar publicação</a><br>
<hr>
<table border="2">
    <tr>
        <th>ID</th>
        <th>Título</th>
        <th>Alteração</th>
        <th>Deleção</th>
    </tr>

    {% for post in postagens %}
    <tr>
        <th>{{post.id}}</th>
        <th>{{post.titulo}}</th>
        <th><a href="?pagina=post&id={{post.id}}">Alterar</a></th>
        <th><a href="?pagina=post&id={{post.id}}">Deletar</a></th>
    </tr>
    {% endfor %}
</table>

<style>
    #titulo{
        font-weight: bold;
        font-size: 4vh;
    }
</style>

<style>
    table{
        width: 70%;
        height: auto;
        margin: 0 auto;
        padding: 10px;
        position: relative;
    }
</style>