<h1>Gerenciador de Conteúdo</h1>

<a href="?pagina=admin&metodo=create">Adicionar publicação</a><br>
<hr>
<table border="2">
    <tr>
        <th>ID</th>
        <th>Título</th>
        <th>Alteração</th>
        <th>Deleção</th>
    </tr>
    <tr>
        <th>ID</th>
        <th>Título</th>
        <th>Alteração</th>
        <th>Deleção</th>
    </tr>
</table>

<style>
    table{
        width: 70%;
        height: auto;
        margin: 0 auto;
        padding: 10px;
        position: relative;
    }
</style>