<div id="painel" style="background-color: aqua;">
    <div class="postagens">
      <a class="titulo">{{titulo}}</a>
      <article>Conteúdo {{conteudo}}</article>
    </div>
    <br><br>
    <div>

      {% if comentarios == false %}
        <p style="font-weight: bold; font-size: 3vh;">Ainda não há comentários</p>
      {% else %}
        {% for coment in comentarios %}
        <hr>
        <h2 style="font-weight: bold; font-size: 2.5vh;">Nome: {{coment.nome}}</h2>
        <p>{{coment.mensagem}}</p>
        <br>
        {% endfor %}
      {% endif %}
    </div>
  </div>