<div id="sobreContent">
    <h1 id="titulo">Quem somos?</h1>
    <p class="conteudo">Página sobre Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas efficitur placerat ligula, et laoreet mi 
        scelerisque ut. Donec tempus eleifend est, eget dapibus ligula vulputate non. Quisque vel velit in tellus feugiat 
        pellentesque. Ut sed diam tortor. Cras mattis tempor sapien, vel fermentum ligula porttitor quis. In viverra dolor et ex 
        ultricies, eu commodo est dictum. Donec sit amet massa mollis, ornare dui ut, gravida tellus. Etiam lobortis id ipsum 
        sed aliquam. Aenean ut posuere orci. Quisque gravida rhoncus convallis.</p>
    <h1 id="titulo">Nossos Objetivos</h1>
    <p class="conteudo">Donec lacus ligula, viverra sit amet consequat dignissim, rhoncus id ante. Sed quis congue velit. 
        Vestibulum ullamcorper accumsan sem, eu auctor dui. Etiam bibendum, lacus vitae feugiat viverra, est lectus blandit 
        dui, eget rhoncus quam tellus in turpis. Praesent tincidunt tempus arcu eu mollis. Praesent at tincidunt erat. 
        Ut maximus eget nunc eget tempor. Nam maximus mauris vitae turpis semper ultrices. Donec tincidunt facilisis eros, 
        sed gravida nibh cursus et. Etiam vitae hendrerit arcu. Donec ut elit eget dolor semper auctor viverra quis justo.</p>
</div>

<style>
    #sobreContent{
        width: 70%; /* Can be in percentage also. */
        height: auto;
        margin: 0 auto;
        padding: 10px;
        position: relative;
    }
    #titulo{
        padding: 1%;
        text-align: center;
        font-size: 5vh;
        font-weight: bold;
    }
</style>

