<h1 id="titulo">Alterar publicação</h1>
<br>

<form method="post" action="?pagina=admin&metodo=update">
    <div class="field">
    <label class="label">
    Título</label>
    <div class="control">
        <input class="input" name="titulo" type="text" value="{{titulo}}" placeholder="Text input">
    </div>
    </div>

    <div class="field">
    <label class="label">Mensagem</label>
    <div class="control">
        <textarea class="textarea" name="mensagem" placeholder="Textarea">{{mensagem}}</textarea>
    </div>
    </div>

    <div class="field is-grouped">
    <div class="botaoclass">
        <button type="submit" id="botao" class="button is-link">Alterar Publicação</button>
    </div>
    </div>

    <input type="hidden" name="id" value="{{id}}">
</form>


<style>
    #titulo{
        font-weight: bold;
        font-size: 4vh;
    }
    .control{
        width: 60%;
        height: auto;
        margin: 0 auto;
        padding: 10px;
        position: relative;
    }
    .botaoclass{
        width: 60%;
        height: auto;
        margin: 0 auto;
        padding: 10px;
        position: relative;
    }
</style>